html {
	background-color:lightblue;
}
body {
	background-color:rgb(211, 35, 35);
	text-align:center;
	padding-top:5%;
	padding-bottom:5%;	
}
h2 {
	text-align:center;
	color:rgb(0, 128, 43);
}
ul {
float: left;
width: 100%;
padding: 0;
margin: 0;
list-style: none;
align:center;
}

li a {
background-color: powderblue;	
transition: background-color 1s;
display: block;
float: left;
text-align: center;
font-size: 1.2em;
width: 130px;
text-decoration: none;
color: blue;

padding: 10px 15px;
margin: 0px 1px 1px 0px;
border: 1px solid navy;
border-radius: 3px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 0px 2px 3px gray;
-moz-box-shadow: 0px 2px 3px gray;
-webkit-box-shadow: 0px 2px 3px gray;
}

li a:hover {
color: blue;
background: aqua;
border: 1px solid blue;
}